.video-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  margin: 16px;
  margin-top: 9vh; /* Adjust top margin as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure the position is relative for absolute positioning */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth scaling */
}

.video-card:hover {
  transform: scale(1.05); 
  cursor: pointer;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  
}

.video-card-thumbnail {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  
  object-fit: cover;
  display: block;
  border-radius: 8px 8px 0 0; 
}

.video-card-info {
  padding: 16px;
}

.video-card-title {
  font-size: 1.2em;
  margin: 0 0 8px 0;
}

.video-card-channel {
  color: #555;
  margin: 4px 0;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 35px solid rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.video-card:hover .play-button {
  opacity: 1;
  cursor: pointer;
}

.play-button i {
  display: none; 
}
