.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../public/cover.jpg') no-repeat center center fixed;
  background-size: cover;
}

.styled-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-form h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.styled-form .MuiTextField-root {
  width: 100%;
  margin-bottom: 15px;
}

.styled-form .MuiButton-contained {
  background-color: #6C63FF;
  color: white;
}

.styled-form .MuiButton-contained:hover {
  background-color: #5750d1;
}

.signup {
  text-align: center;
  margin-top: 20px;
}

.signup a {
  color: #6C63FF;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

